.msg{
    display: block;
    width: 50%;
    max-width: 100%;
    background: #282c34;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
    color: #fff;
    position: relative;
    z-index: 5;
}

.msg:first-child{
    margin-top: 0 !important;
}

.msg:before{
    position: absolute;
    left: 15px;
    bottom: -5px;
    content: '';
    width: 20px;
    z-index: -1;
    height: 20px;
    border-radius: 50%;
    background: #282c34;
}