.textarea{
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    padding: 10px;
    font-family: Tahoma;
    border: 1px solid #e7e8ec
}

.add_post_btn{
    margin-top: 5px;
    margin-bottom: 30px;
}