.ToDoList-enter {
    opacity: 0.01;
}

.ToDoList-enter.ToDoList-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.ToDoList-leave {
    opacity: 1;
}

.ToDoList-leave.ToDoList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

