.block{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e7e8ec;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.block span {
    display: block;
    font-family: Tahoma;
}

.msg{
    font-size: 20px;
    padding-bottom: 10px;
    word-break: break-word;
    white-space: pre-line;
}

.time{
    font-size: 12px;
    padding-bottom: 20px;
}

.likes{
    font-size: 15px;
}

.likes img{
    width: 15px;
}