.content{
    padding: 15px;
    box-sizing: border-box;
    display: block;
}


.news_item_block{
    margin-top: 20px;
    h3{
        font-size: 25px;
        font-family: Tahoma;
        padding-bottom: 10px;
        white-space: pre-line;
    }
    .news_item_content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        img {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        p,span,a{
            display: block;
            font-family: Arial;
            font-size: 15px;
            padding-top: 15px;
            box-sizing: border-box;
        }
        a{
            &:hover {
                color: red
            }
        }
    }
}