.content{
    padding: 15px;
    box-sizing: border-box;
    display: block;
}


.news_item{
    margin-top: 20px;
}

.news_item_content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.news_item_content img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.news_item_content p, .news_item_content span, .news_item_content a{
    display: block;
    font-family: Arial;
    font-size: 15px;
    padding-top: 15px;
    box-sizing: border-box;
}

h3{
    font-size: 25px;
    font-family: Tahoma;
    padding-bottom: 10px;
    white-space: pre-line;
}