
  
  .nav{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .item{
    color: white;
    padding: 15px;
    font-family: Tahoma;
    transition: all ease 0.4s;
  }
  .item:hover{
    padding-left: 25px;
  }
  .item:last-child{
    margin-top: 30px;
    padding: 10px;
  }

  .item a {
    color: white;
  }

  .item a.active{
      color: crimson;
  }